.control {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  margin-bottom: 4px;
  padding: 8px;

  &_inline {
    display: inline-flex;
  }

  &_vertical {
    flex-direction: column;
  }
}

.label {
  // position: absolute;
  // left: 0;
  // top: 50%;
  // translate: 0 -50%;
}

.input {
  padding: 8px;
  width: clamp(320px, 20vw, 500px);
}
