body {
  margin: 0;
  font: 1rem/1.5 "Pretendard", sans-serif;
  background: #fff;
  color: #000;

  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }

  * {
    box-sizing: inherit;
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

button {
  font-family: inherit;
}
