.component {
  user-select: none;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 1.052em 3.368em;
  font-size: 1.187rem;
  font-weight: 600;
  line-height: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
}

.component svg {
  pointer-events: none;
}

.component:disabled {
  cursor: not-allowed;
}