.component {
  user-select: none;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 1.052em 3.368em;
  font-size: 1.187rem;
  font-weight: 600;
  line-height: 1;
}

.component svg {
  pointer-events: none;
}

.component:disabled {
  cursor: not-allowed;
}